.transparent-container {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;

  padding: 12px;

  border-radius: 16px;

  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  /*column-gap: 16px;*/
}

.history-details {
  display: flex;
  justify-content: space-between;
  column-gap: 16px;
}

.location,
.date-time {
  margin: 0;
}

.location {
  font-size: 0.875rem;
}

.date-time {
  font-size: 0.625rem;
}

.action {
  display: flex;
  column-gap: 8px;

  button {
    padding: 8px;
    width: 34px;
    height: 34px;

    background-color: white;
    border-radius: 9999px;
    box-shadow: 0 4px 12px 0 #0000001A;
  }
}

.search-button {
  fill: #666666;
}

@media screen and (min-width: 768px) {
  .form {
    gap: 20px;

    button {
      height: 60px;
      width: 60px;

      border-radius: 20px;
    }
  }

  .location {
    font-size: 1rem;
  }

  .date-time {
    font-size: 0.875rem;
  }

  .location-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
