.weather-details {
  display: flex;
  column-gap: 16px;
  justify-content: space-between;
  align-items: end;
}

.title {
  margin: 0;
  font-size: 0.875rem;
  font-weight: normal;
}

.current-temperature {
  color: rgba(108, 64, 181, 1);
  font-size: 70px;
  font-weight: bold;
}

.min-max-temperature {
  font-size: 0.875rem;
}

.location {
  color: rgba(102, 102, 102, 1);
  font-size: 0.875rem;
  font-weight: bold;
}

.right-content {
  text-align: right;
  color: rgba(102, 102, 102, 1);
  font-size: 0.875rem;
}

.current-weather-wrapper {
  position: relative;
  img {
    height: 157px;
    width: 157px;
    position: absolute;

    right: 0;
    top: -79px;
  }
}
